In [2]:
import pandas as pd
import numpy as np
import normalization_file


data = pd.read_csv("Ecommerce Customers.csv")
print(data.head(5))

data_num = data[["Avg. Session Length","Time on App","Time on Website","Length of Membership","Yearly Amount Spent"]]
data_cat = data[["Email","Address","Avatar"]]

email_tail_list = []

                           Email  \
0      mstephenson@fernandez.com
1              hduke@hotmail.com
2               pallen@yahoo.com
3        riverarebecca@gmail.com
4  mstephens@davidson-herman.com

                                             Address            Avatar  \
0     835 Frank Tunnel\r\nWrightmouth, MI 82180-9605            Violet
1   4547 Archer Common\r\nDiazchester, CA 06566-8576         DarkGreen
2  24645 Valerie Unions Suite 582\r\nCobbborough,...            Bisque
3  1414 David Throughway\r\nPort Jason, OH 22070-...       SaddleBrown
4  14023 Rodriguez Passage\r\nPort Jacobville, PR...  MediumAquaMarine

   Avg. Session Length  Time on App  Time on Website  Length of Membership  \
0            34.497268    12.655651        39.577668              4.082621
1            31.926272    11.109461        37.268959              2.664034
2            33.000915    11.330278        37.110597              4.104543
3            34.305557    13.717514        36.721283              3.120179
4            33.330673    12.795189        37.536653              4.446308

   Yearly Amount Spent
0           587.951054
1           392.204933
2           487.547505
3           581.852344
4           599.406092

Data cleaning

Missing or wrong data

In [3]:
avatar = data_cat["Avatar"]
print(avatar[:15])

spent = data_num["Yearly Amount Spent"]
print(spent[:15])

0               Violet
1            DarkGreen
2               Bisque
3          SaddleBrown
4     MediumAquaMarine
5          FloralWhite
6        DarkSlateBlue
7                 Aqua
8               Salmon
9                Brown
10              Tomato
11              Tomato
12           RoyalBlue
13              Bisque
14            DarkBlue
Name: Avatar, dtype: object
0     587.951054
1     392.204933
2     487.547505
3     581.852344
4     599.406092
5     637.102448
6     521.572175
7     549.904146
8     570.200409
9     427.199385
10    492.606013
11    522.337405
12    408.640351
13    573.415867
14    470.452733
Name: Yearly Amount Spent, dtype: float64

Numerical variable analysis

In [4]:
data_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Avg. Session Length   500 non-null    float64
 1   Time on App           500 non-null    float64
 2   Time on Website       500 non-null    float64
 3   Length of Membership  500 non-null    float64
 4   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5)
memory usage: 19.7 KB

In [5]:
data_num.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [6]:
data_num.corr(method = "pearson")

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
Avg. Session Length,1.000000,-0.027826,-0.034987,0.060247,0.355088
Time on App,-0.027826,1.000000,0.082388,0.029143,0.499328
Time on Website,-0.034987,0.082388,1.000000,-0.047582,-0.002641
Length of Membership,0.060247,0.029143,-0.047582,1.000000,0.809084
Yearly Amount Spent,0.355088,0.499328,-0.002641,0.809084,1.000000

Email Analysis

In [7]:
email_series = data["Email"]

In [8]:
for i in email_series:
    head, sep, tail = i.partition("@")
    email_tail_list.append(tail)

email_tail_series = pd.Series(email_tail_list)
email_tail_series.head(5)

0          fernandez.com
1            hotmail.com
2              yahoo.com
3              gmail.com
4    davidson-herman.com
dtype: object

In [9]:
email_tail_series.describe()

count           500
unique          244
top       gmail.com
freq             87
dtype: object

In [13]:
email_tail_series.value_counts().head(20)

gmail.com              87
hotmail.com            87
yahoo.com              76
moore.com               2
davis.com               2
jones.com               2
jackson.com             2
johnson.com             2
lee.com                 2
edwards.com             2
barber.com              2
williams.com            2
hamilton-jensen.org     1
watkins.org             1
hansen.com              1
lopez.com               1
lopez-greene.com        1
schroeder.com           1
davidson.com            1
sawyer-sellers.com      1
dtype: int64

In [15]:
tail_cat_list = []

for i in email_tail_list:
    if i == "gmail.com":
        tail_cat_list.append(1)
    elif i == "hotmail.com":
        tail_cat_list.append(2)
    elif i == "yahoo.com":
        tail_cat_list.append(3)
    else:
        tail_cat_list.append(4)

email_new = pd.Series(tail_cat_list)

email_new.head(5)

0    4
1    2
2    3
3    1
4    4
dtype: int64